---
- name: Java upgrade
  hosts: "{{ environment }}"
  remote_user: root
  vars_files:
  - ./javavar.txt

  tasks:
  - name: Java Upgrade
    yum:
      name: "{{ package }}"
      state: "{{ action }}"
